html{
    margin: 0;
}
body{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background: #947f57;
    top: 0;
    left: 0;
    width: 100%;
}

#nav-list{
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 2rem;
}

li{
    list-style-type: none;
}

.welcome-section{
    margin: 0;
    width: 100%;
    height: 45rem;
    background: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #3d3d3d;
    font-size: 2rem;
}

p{
    color: #947f57;
    font-size: 1.8rem;
}

#portifolio{
    background: #487794;
    padding-top: 2.5rem;
    color: white;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portifolio h2{
    border-bottom: 0.2rem solid white;
    margin: 2rem auto 6rem auto;
    max-width: 640px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 3rem;
}

.container img{
    height: 239px;
    width: 500px;
    border: 5px solid #fff;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

#contato{
    background: #273B47;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.link{
    display: flex;
    flex-direction: row;
}

.link a{
    height: 30px;
    width: 110px;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    background-color: #947f57;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a:hover{
    background-color: #3d3d3d;
}

@media (max-width: 665px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .container img{
        height: 139px;
        width: 300px;
    }    
}